<% categories = @recipes.map { |recipe| recipe.category }.uniq %>
<% categories.each do |category| %>
  <h2><%= category %></h2>
  <% list = Collection.all.select { |recipe| recipe.category==category } %>
  <ul>
  <% list.collect do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.title  %></a></li>
  <% end %> 
  </ul> 
<% end %>

  
