<% @sources.each do |source| %>
  <h2><%= source.name %></h2>
  <% list = @recipes.select { |recipe| recipe.source.id==source.id } %>
  <ul>
  <% list.collect do |recipe| %>
    <li><a href="recipes/<%= recipe.id %>"><%= recipe.title  %></a></li>
  <% end %> 
  </ul> 
<% end %>